form {
    //display: grid;
    border: 1px solid #545454;
    background-color: rgba(203, 211, 216, 0.658);
    color: black;
    border-radius: 3px;
    padding: 40px;
    width: 40vw;
    max-width:70vw ;
    min-width:30vw;
    opacity: 1;
}

input {
    padding: 5px 20px;
    width: 30vw;
    line-height: 16px;
    margin: 10px 0;
}

#submitTrip:hover {
    background-color: rgba(255, 255, 0, 0.842);

}

.ui-autocomplete { position: absolute; cursor: default; background-color:white } 


//This is intentional. By hidding the object it is accessible for those that need it(ie screen readers that produce audio for accessability). 
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


.weatherInfo{
    opacity: 1;
    color: black;
    font-size: 20px;
    font: bold;
    background-color: rgb(203, 211, 216);
}
//for forecast icons
figure {
    margin: 3em auto;
    width: 368px;
    height: 152px;
  }

  canvas {
    display: block;
    margin-left: 8px;
    margin-top: 8px;
    background-color: rgb(203, 211, 216);
  }

  pre {
    font: 77.8%/1.5em "Lucida Sans Typewriter", "Lucida Console", "Monaco", "Bitstream Vera Sans Mono", monospace;
    margin: 3.375em 1.6875em;
  }